<script id="secp-product" type="text/html">
    <div class="secp-ad-container">
        <div class="secp-ad secp-product-ad-container secp-single-product-ad-container">
            <div class="secp-procuct-shop-titles-wrapper">
                <div class="secp-product-shop-title">{{title}}</div>
                <div class="secp-product-shop-subtitle">{{subtitle}}</div>
            </div>

            {{#product}}
            {{> secp-product-list}}
            {{/product}}
        </div>
        <div class="secp-product-close">&nbsp;</div>
    </div>
</script>