<script id="secp-admin-collection-list" type="text/html">
<div onclick="secp_admin.addCollection(this)" data-shopify-id="{{id}}" class="secp-product secp-product-list item" style="overflow: hidden; border-bottom: 1px solid #ababab; margin-bottom: 10px;" data-handle="{{handle}}">
    {{#images.0.small}}<img style="width: 100px;height: 100px;; float:left; margin-right: 5px; padding-bottom: 10px;" src="{{images.0.small}}">{{/images.0.small}}
    <span class="secp-product-title">{{title}}</span>
</div>
</script>
