<script id="secp-products-list"  type="text/html">
    <div class="secp-ad-container">
        <div class="secp-ad secp-product-ad-container">
            <div class="secp-procuct-shop-titles-wrapper">
                <div class="secp-product-shop-title">{{title}}</div>
                <div class="secp-product-shop-subtitle">{{subtitle}}</div>
            </div>
            <div class="owl-carousel owl-theme grid">
                {{#products}}
                {{> secp-product-list}}
                {{/products}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="secp-product-close">&nbsp;</div>
    </div>
</script>
